// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~uikit/dist/css/uikit.min.css";

.partner-img {
    height: 100px;
    clip-path: circle(80px at center);
    filter: grayscale(100%);
}

.mover-logo {
    background: #fff;
    background-size: cover;
    margin-top: 2rem;
    height: 100vh;
    padding: 30px;
    z-index: 11;
}

// -------------------------------------------------------------------CT Soicals
.ct-socials {
    position: fixed;
    top: 25%;
    right: 0;
    list-style: none;
    padding-left: 0;
    z-index: 10;
    margin: 0;
    -webkit-transition: right 0.25s ease-in-out;
    transition: right 0.25s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.ct-socials li {
    padding: 0px 0;
}
.ct-socials li a {
    background: #3f4653;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    width: 44px;
    height: 54px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    float: right;
    padding-left: 5px;
}

.ct-socials li a span {
    display: none;
}

.ct-socials li a:hover {
    span {
        display: block;
    }
    min-width: 54px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    background: #3c9bd9;
}

.slide {
    width: 100%;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #a8c0ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to left,
        #3f2b96,
        #a8c0ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to left,
        #3f2b96,
        #a8c0ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    opacity: 0.8;
    z-index: 1;
}

.show_hide:not([href]) {
    color: #fff;
    text-decoration: none;
}
