// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~uikit/dist/css/uikit.min.css";

.partner-img {
    height: 100px;
    clip-path: circle(80px at center);
    filter: grayscale(100%);
}
.mover-logo {
    background: rgba(255, 255, 255, 0.9);
    margin-top: 2rem;
    height: 300px;
    padding: 30px;
}

@media (min-width: 576px) {
    .mover-logo {
        height: 300px;
    }
}
@media (min-width: 768px) {
    .mover-logo {
        height: 300px;
    }
}
@media (min-width: 992px) {
    .mover-logo {
        height: 300px;
    }
}
@media (min-width: 1200px) {
    .mover-logo {
        height: 300px;
    }
}
